.app {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: 
  	"side-menu agent-panel"
	"side-menu logs-panel"
	"footer footer";
  height: 100vh;
}

header {
	grid-column: 1 / span 2;
	grid-row: 1;
}

aside {
	grid-column: 1;
	grid-row: 2 / 3;
}

main {
	grid-column: 2;
	grid-row: 2;
}

.main-agent-container {
	flex: 2;
}

.main-logs-container {
	flex: 1;
}

footer {
	grid-column: 1 / span 2;
	grid-row: 3;
}