@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*default fonts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/**/

/* Light Theme Variables */
:root {
  --primary-color: #007AFF;
  --secondary-color: #28A745;
  --background-color: #F8F9FA;
  --surface-color: #FFFFFF;
  --background-text-color: #2C3E50;
  --surface-text-color: #2C3E50;
  --error-color: #E74C3C;
  --border-color: #cccccc;

  --font-body-light: 'Roboto', sans-serif;
  --font-heading-light: 'Montserrat', sans-serif;
  --font-button-light: 'Helvetica', sans-serif;

  /* Default light theme values */
  --font-body: var(--font-body-light);
  --font-heading: var(--font-heading-light);
  --font-button: var(--font-button-light);
}

/* Dark Theme Variables */
[data-theme="dark"] {
  --primary-color: linear-gradient(to right, #6A1B9A, #2196F3);
  --secondary-color: #18FFFF;
  --background-color: #202020;
  --surface-color: #131111;
  --background-text-color: #EAEAEA;
  --surface-text-color: #97989c;
  --error-color: #E53935;
  --border-color: #2b2a2a;

  --font-body-dark: 'Roboto', sans-serif;
  --font-heading-dark: 'Montserrat', sans-serif;
  --font-button-dark: 'Helvetica', sans-serif;

  /* Default dark theme values */
  --font-body: var(--font-body-dark);
  --font-heading: var(--font-heading-dark);
  --font-button: var(--font-button-dark);
}

/* Reusable styles*/
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}