.agent-panel {
    height: 100%;
    background-color: var(--background-color);
    color: var(--surface-text-color);
    font-family: var(--font-body);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

/* Header Styles */
.agent-panel-header {
    font-family: var(--font-heading);
    color: var(--background-text-color);
    gap: 2rem;
}

.header-bottom {
    justify-content: space-between;
}

.header-bottom-start {
    font-family: var(--font-heading);
}

.header-bottom-end {
    gap: 1rem;
}

/* Action Buttons */
.header-bottom-end button {
    border-radius: 50%; /* Circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-text-color); 
    cursor: pointer;
    padding: 0.5rem;
}

.header-bottom-end button:hover {
    background-color: var(--border-color); 
}

/* Label Styles */
.agent-card-labels {
    font-family: var(--font-heading);
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    gap: 5rem;
}

.agent-card-labels > .pair-label, .balance-label, .status-label {
    align-items: start;
    justify-content: start;
    text-align: center;
    box-sizing: border-box;
}

.pair-label {
    width: 6rem;
}

.balance-label {
    width: 12rem;
}

.pl-label {
    width: 4rem;
    align-items: center;
    justify-content: center;
}

.percentage-label {
    width: 4rem; 
    align-items: center;
    justify-content: center;
}

.status-label {
    flex-grow: 1; 
    text-align: left; 
}

/* Content Styles */
.agent-panel-content {
    height: 100%;
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);
}

/* No Agents Styles */
.no-agents {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 1rem;
}

/* Agent Exists Styles */
.agent-exists {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
    overflow-y: auto;
}

/* Agent List Styles */
.agent-list {
    width: 100%;
    font-size: 1rem;
}

/* Others */
button {
    font-size: 1rem;
    cursor: pointer;
}

u {
    color: var(--primary-color);
}